* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* COMMON  */

/* hover  */
#my_red-button:hover,
#my_gray-button:hover,
#lens, #my_blue-button:hover,
#my_reverse-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}
.my_navbar-black:hover {
    color: #2481D4;
}

/* inizio header  */
    nav{
        height: 80px;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 100%;
        overflow: hidden;
    }
    main{
        overflow: scroll;
        height: 6200px;
    }
    #header-bar{
        background-color: black;
        color: white;
        width: 100%;
    }
    #header-bar img{
        width: 90px;
        height: 35px;
    }
    header{
        position: relative;
    }
    #left-nav{
        position: absolute;
        right: 0;
    }
/* inizio nav-header */
    .navbar-brand img{
        width: 70px;
        height: 60px;
    }
    .my_navbar-black{
        color: black;
    }
    #my_gray-button{
        border-radius: 50px;
        background-color: #3B3B3B;
        font-size: 1em;
    } 
    #lens{
        width: 25px;
        height: 40px;
    }
/* fine header  */
/* inizio jumbotron  */
    .jumbotron{
        position: relative;
    }
    .my_jumbo-slider{
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
    #my_jumbo-image {
        position: absolute;
        width: 280px;
        height: 40px;
        top: 45%;
    }
    .other-text{
        position: absolute;
        width: 100%;
        top: 55%;
        color: white;
    }
    #my_red-button{
        border: none;
        border-radius: 50px;
        background-color: #CC3D12;
    }
    #my_text{
        font-size: 1.2em;
    }
/* fine jumbotron */
/* inizio main  */

/* inizio figures */
    .my_figures-borders-radius{
        border-radius: 20px;
    }
    #my_returnal-border{
        border: 3px solid #2481D4;
        padding: 2px;
    }
/* fine figures */
/* inizio playstation 5 */
    .my_text-blue{
        color: #2481D4;
        font-weight: 500;
    }
    .my_text-gray{
        color: #808080;
        font-size: 1.6em;
    }
    .my_title{
        font-size: 2.5em;
    }
    #my_blue-button{
        border-radius: 30px;
        font-size: 1em;
    }
    #console {
        margin-top: 15%;
    }
    .my_console-image img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .my_elements{
        position: relative;
    }
    .my_elements img{
        object-fit: contain;
    }
    .opacity{
        opacity: 0.6;
    }
    .opacity:hover{
        opacity: 0.3;
        cursor: pointer;
    }
    .my_bord-b_blue{
        border-bottom: 2px solid #2481D4;
    }
    /* fine playstation 5 */
    /* inizio jumbotron2  */
    .my_jumbo2-slider{
        width: 100%;
        height: 700px;
        object-fit: cover;
    }
    #my_jumbo2-image {
        position: absolute;
        width: 280px;
        height: 200px;
        top: 7%;
    }
    .other-text2{
        position: absolute;
        width: 100%;
        top: 40%;
        color: white;
    }
    /* fine jumbotron2  */
    /* inizio Playstation 4  */
    .new-releases{
        color: white;
        background-color: #202020;
        font-weight: 600;
    }
    sup{
        font-size: 0.5em;
    }
    #my_4-images{
        width: 100%;
        height: 300px;
        object-fit: contain;
    }
    /* fine Playstation 4  */
    /* inizio playstation-plus  */
    .playstation-plus{
        background-color: #BFBCBB;
    }
    .my_play-store-image img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .my_play-store-image{
        display: none;
    }
    .my_text-black{
        color: black;
        font-size: 1.1em;
    }
    #my_reverse-button{
        border-radius: 30px;
        border: none;
        font-size: 1.3em;
        background-color: #D9DADC;
    }
    .blue{
        color: #0F6EFD;
    }
    .black{
        color: black;
    }
    .my_play-plus-image{
        width: 60%;
        object-fit: contain;
    }
    /* play station now  */
    .playstation-now{
        background-color: #161D3C;
    }
    .my_text-white{
        color: white;
        font-size: 1.2em;
    }
    /* fine play station now  */
    /* play station store  */
    .my_store-image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    /* fine play station store  */
    /* Social media  */
    .social-media img{
        width: 250px;
        height: 250px;
    }
/* fine main */

/* inizio footer  */
    footer {
        background-color: #05449B;
        color: white;
    }
    .my_ps-footer{
        width: 130px;
        height: 130px;
    }
    .globe{
        width: 25px;
        height: 25px;
    }
    .footer-bottom p{
        max-width: 600px;
    }
    #my_sie-image{
        width: 150px;
        height: 150px;
    }
    .my_link-footer ul li{
        list-style-type: none;
        line-height: 2em;
    }
    .underline{
        text-decoration: underline;
    }
/* fine footer  */

/* MEDIA QUERY */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .my_play-store-image{
        display: none;
    }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .my_jumbo-image,
    .my_jumbo2-image {
        position: absolute;
        width: 400px;
        height: 40px;
        top: 45%;
        left: 3%;
    }
    .my_elements{
        margin: 0 auto;
    }
    .my_play-store-image{
        display: inline;
        margin: none;
        object-fit: cover;
    }
    #plus{
        padding-left: 3%;
        padding-right: 3%;
    }
    .my_link-footer{
        margin-top: 5%;
    }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .my_jumbo-image,
    .my_jumbo2-image {
        position: absolute;
        width: 280px;
        height: 40px;
        top: 45%;
        left: 3%;
    }
    .my_play-store-image{
        display: inline;
        margin: none;
        object-fit: cover;
    }
    .my_play-plus-image{
        padding-bottom: 10%;
        margin-top: 10%;
    }
    #plus{
        padding-left: 3%;
        padding-right: 3%;
    }
    .social-media img{
        width: 180px;
        height: 180px;
    }
    .my_link-footer{
        margin-top: 10%;
    }
    .my_link-footer ul li{
        list-style-type: none;
        line-height: 2em;
    }
}
