* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* COMMON  */

/* inizio header  */
    #header-bar{
        background-color: black;
        color: white;
        width: 100%;
    }
    #header-bar img{
        width: 90px;
        height: 35px;
    }
/* inizio nav-header */
    .navbar-brand img{
        width: 70px;
        height: 60px;
    }
    #navbarDropdownMenuLink {
        color: black;
    }
    #my_gray-button{
        border-radius: 50px;
        background-color: #3B3B3B;
    } 
    header li i{
        font-size: 30px; 
    }
/* fine header  */

/* inizio jumbotron  */
    .jumbotron{
        position: relative;
    }
    .jumbotron img{
        width: 100%;
        height: 660px;
        object-fit: cover;
    }
    #my_image {
        position: absolute;
        width: 280px;
        height: 40px;
        top: 45%;
        left: 3%;
    }
    .other-text{
        position: absolute;
        width: 100%;
        top: 55%;
        left: 4%;
        color: white;
    }
    #my_red-button{
        border: none;
        border-radius: 50px;
        background-color: #CC3D12;
    }
    #my_text{
        font-size: 1.2em;
    }
/* fine jumbotron */
/* inizio main  */

    /* inizio figures */
    .my_figures-borders-radius{
        border-radius: 20px;
    }
    #my_returnal-border{
        border: 3px solid #2481D4;
        padding: 2px;
    }
    /* fine figures */
    /* inizio playstation 5 */
    .my_text-blue{
        color: #2481D4;
        font-weight: 500;
    }
    .my_text-gray{
        color: #808080;
        font-size: 1.5em;
    }
    .my_title{
        font-size: 3em;
    }

    #my_blue-button{
        border-radius: 30px;
        font-size: 1.3em;
    }
    #console{
        margin-top: 15%;
    }
    .my_console-image img{
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .my_elements{
        position: relative;
    }
    .my_elements img{
        width: 80%;
        height: 80%;
        object-fit: contain;
    }
    .opacity{
        opacity: 0.5;
    }
    .my_bord-b_blue{
        border-bottom: 2px solid #2481D4;
    }
    /* fine playstation 5 */

/* fine main */


/* inizio footer  */
footer {
    background-color: #05449B;
    height: 600px;  /* DEBUG  */
}
/* fine footer  */



/* Media query */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #my_image {
        position: absolute;
        width: 400px;
        height: 40px;
        top: 45%;
        left: 3%;
    }
    .my_elements{
        margin: 0 auto;
    }

}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #my_image {
        position: absolute;
        width: 280px;
        height: 40px;
        top: 45%;
        left: 3%;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {


}





/* DEBUG  */


.debug .jumbotron2{
    height: 800px;
    background-color: red;
}

.debug .playstation4{
    height: 600px;
    background-color: lightslategray;
}

.debug .playstation-plus{
    height: 400px;
    background-color: green;
}

.debug .playstation-store{
    height: 500px;
    background-color: mediumorchid;
}

.debug .playstation-now{
    height: 400px;
    background-color: green;
}

.debug .social-media{
    height: 400px;
    background-color: moccasin;
}

